<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="org.seasar.weblauncher.nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.seasar.weblauncher.nature.WebLauncherNature"/>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.seasar.weblauncher.preferences.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathVariableInitializer">
      <classpathVariableInitializer
            class="org.seasar.weblauncher.variable.WinstoneVariable"
            variable="WINSTONE_LIB"/>
      <classpathVariableInitializer
            class="org.seasar.weblauncher.variable.WinstoneLiteVariable"
            variable="WINSTONE_LITE_LIB"/>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="org.seasar.weblauncher.decorator.WebRunningDecorator"
            id="org.seasar.weblauncher.decorator"
            label="WebRunningDecorator"
            lightweight="true"
            location="BOTTOM_RIGHT"
            state="true">
         <enablement>
            <and>
               <objectState
                     name="projectNature"
                     value="org.seasar.weblauncher.nature"/>
               <objectClass name="org.eclipse.core.resources.IProject"/>
            </and>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.seasar.weblauncher.objectContribution"
            objectClass="org.eclipse.core.resources.IProject">
         <menu
               id="org.seasar.weblauncher.menu"
               label="%plugin.label"
               path="additions">
            <groupMarker name="additions"/>
            <groupMarker name="additions2"/>
         </menu>
         <visibility>
            <objectState
                  name="projectNature"
                  value="org.seasar.weblauncher.nature"/>
         </visibility>
         <action
               class="org.seasar.weblauncher.action.StartServerAction"
               enablesFor="1"
               icon="icons/start.gif"
               id="org.seasar.weblauncher.action.start"
               label="%start"
               menubarPath="org.seasar.weblauncher.menu/additons">
            <enablement>
               <not>
                  <objectState
                        name="sessionProperty"
                        value="org.seasar.weblauncher.serverstate"/>
               </not>
            </enablement>
         </action>
         <action
               class="org.seasar.weblauncher.action.StopServerAction"
               enablesFor="1"
               icon="icons/stop.gif"
               id="org.seasar.weblauncher.action.stop"
               label="%stop"
               menubarPath="org.seasar.weblauncher.menu/additons2">
            <enablement>
               <objectState
                     name="sessionProperty"
                     value="org.seasar.weblauncher.serverstate"/>
            </enablement>
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.seasar.weblauncher.objectContribution.view"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.seasar.weblauncher.menu"
               label="%plugin.label"
               path="additions">
            <groupMarker name="additions"/>
         </menu>
         <visibility>
            <and>
               <objectState
                     name="projectNature"
                     value="org.seasar.weblauncher.nature"/>
            </and>
         </visibility>
         <action
               class="org.seasar.weblauncher.action.ViewOnServerAction"
               enablesFor="1"
               icon="icons/browser.gif"
               id="org.seasar.weblauncher.action.view"
               label="%view"
               menubarPath="org.seasar.weblauncher.menu/additons">
            <enablement>
               <or>
                  <objectState
                        name="projectPersistentProperty"
                        value="org.seasar.weblauncher.checkserver=true"/>
                  <objectState
                        name="projectSessionProperty"
                        value="org.seasar.weblauncher.serverstate"/>
               </or>
            </enablement>
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            adaptable="true"
            class="org.seasar.weblauncher.preferences.WebLauncherPropertyPage"
            id="org.seasar.weblauncher.propertyPage"
            name="%plugin.label"
            objectClass="org.eclipse.core.resources.IProject"/>
      <page
            adaptable="true"
            class="org.seasar.weblauncher.preferences.WebLauncherPropertyPage"
            id="org.seasar.weblauncher.propertyPage"
            name="%plugin.label"
            objectClass="org.eclipse.jdt.core.IJavaProject"/>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.seasar.weblauncher.launch.WebLaunchConfigurationDelegate"
            id="org.seasar.weblauncher.launchConfigurationType"
            modes="run, debug"
            name="%plugin.label"
            public="true"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.seasar.weblauncher.launch.WebLaunchConfigurationTabGroup"
            id="org.seasar.weblauncher.launchConfigurationTabGroup"
            type="org.seasar.weblauncher.launchConfigurationType"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.seasar.weblauncher.launchConfigurationType"
            icon="icons/server.gif"
            id="org.seasar.weblauncher.launchConfigurationTypeImage"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.seasar.weblauncher.actionSet"
            label="%plugin.label"
            visible="true">
         <menu
               id="org.seasar.weblauncher.actionset.menu"
               label="%plugin.label"
               >
            <groupMarker name="org.seasar.weblauncher.groupMarker"/>
         </menu>
        
        
         <action
               class="org.seasar.weblauncher.action.StopServerAction"
               enablesFor="1"
               icon="icons/stop.gif"
               id="org.seasar.weblauncher.action.stop2"
               label="%stop"
               style="push"
               toolbarPath="org.seasar.weblauncher.groupMarker">
            <enablement>
               <and>
               <objectState
                     name="projectSessionProperty"
                     value="org.seasar.weblauncher.serverstate"/>
                <objectState
                      name="projectNature"
                      value="org.seasar.weblauncher.nature"/>
               </and>
            </enablement>
         </action>
         <action
               class="org.seasar.weblauncher.action.StartServerAction"
               enablesFor="1"
               icon="icons/start.gif"
               id="org.seasar.weblauncher.action.start2"
               label="%start"
               style="push"
               toolbarPath="org.seasar.weblauncher.groupMarker">
            <enablement>
               <and>
	               <not>
	                  <objectState
	                        name="projectSessionProperty"
	                        value="org.seasar.weblauncher.serverstate"/>
	               </not>
                <objectState
                      name="projectNature"
                      value="org.seasar.weblauncher.nature"/>
               </and>
            </enablement>
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.seasar.weblauncher.command.category"
            name="%plugin.label"/>
      <command
            categoryId="org.seasar.weblauncher.command.category"
            id="org.seasar.weblauncher.command.start"
            name="%start"/>
      <command
            categoryId="org.seasar.weblauncher.command.category"
            id="org.seasar.weblauncher.command.stop"
            name="%stop"/>
      <command
            categoryId="org.seasar.weblauncher.command.category"
            id="org.seasar.weblauncher.command.view"
            name="%view"/>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="org.seasar.weblauncher.editorContribution"
            targetID="org.eclipse.ui.DefaultTextEditor">
         <menu
               id="org.seasar.weblauncher.menu.editor"
               label="%plugin.label"
               path="Navigate/additions">
            <groupMarker name="additions"/>
         </menu>
         <action
               class="org.seasar.weblauncher.action.ViewOnServerAction"
               definitionId="org.seasar.weblauncher.command.view"
               icon="icons/browser.gif"
               id="org.seasar.weblauncher.action.editor.view"
               label="%view"
               menubarPath="Navigate/org.seasar.weblauncher.menu.editor/additions"
               style="push"/>
         <menu
               id="org.seasar.weblauncher.menu.editor.server"
               label="%plugin.label">
            <groupMarker name="additions"/>
         </menu>
         <action
               class="org.seasar.weblauncher.action.StopServerEditorAction"
               definitionId="org.seasar.weblauncher.command.stop"
               icon="icons/stop.gif"
               id="org.seasar.weblauncher.action.editor.stop"
               label="%stop"
               menubarPath="org.seasar.weblauncher.menu.editor.server/additions"
               style="push"/>
         <action
               class="org.seasar.weblauncher.action.StartServerEditorAction"
               definitionId="org.seasar.weblauncher.command.start"
               icon="icons/start.gif"
               id="org.seasar.weblauncher.action.editor.start"
               label="%start"
               menubarPath="org.seasar.weblauncher.menu.editor.server/additions"
               style="push"/>
      </editorContribution>
      <editorContribution
            id="org.seasar.weblauncher.editorContribution.jdt"
            targetID="org.eclipse.jdt.ui.CompilationUnitEditor"/>
      <editorContribution
            id="org.seasar.weblauncher.editorContribution.wst.xml"
            targetID="org.eclipse.wst.xml.ui.internal.tabletree.XMLMultiPageEditorPart"/>
      <editorContribution
            id="org.seasar.weblauncher.editorContribution.wst.html"
            targetID="org.eclipse.wst.html.core.htmlsource.source"/>
   </extension>

</plugin>
